@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   13-4-20
 * Time:   下午3:41
 */

/*公共样式区域*/
.bx-page{
	background: url("../img/main-bg.png") repeat top center;
}

.bx-header{
	margin: 0 auto;
	height: 160px;
	position: absolute;
	width: 100%;
	border: none;
	background: url("../img/page-header-bg.png") repeat-x left top;
}

.bx-logo{
	margin: 50px auto 0 auto !important;
	width: 265px;
	height: 70px;
	background: url("../img/page-header-logo.png") no-repeat center;
	display: block;
}

/*切换块状显示和列表显示的按钮*/
.bx-block-to-list-btn,
.bx-list-to-block-btn{
	width: 70px;
	height: 50px;
	float: right;
	margin: -40px 5px 0 0 !important;
	display: inline-block;
	border: none;
	background: url("../img/toggle-list-block-btn.png") no-repeat top;
}

.bx-block-to-list-btn{
	background-position: 0 0;
}

.bx-list-to-block-btn{
	background-position: 0 -50px;
}

/*********************************************/
/***********  块状显示主内容区  *****************/
/*********************************************/
.bx-index-block-main{
	width: 100%;
	margin-top: 180px;
	display: block;
	overflow: hidden;
}

.bx-index-block-main ul{
	width: 300%;
	margin: 0;
	padding: 0;
}

.bx-index-block-main ul li{
	list-style: none;
	width: 33.3333333333%;
	float: left;
}

.bx-index-block-main .ui-grid-a>div{
	display: block;
	padding: 15px;
	height: 240px;
}

/*块状显示单个食物的块*/
.bx-block-one-food{
	background: #fff;
	height: 180px;
	width: 180px;
	padding: 15px;
	border-radius: 24px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.bx-block-one-food-inout{
	width: 164px;
	height: 164px;
	padding: 8px;
	display: block;
	border-radius: 26px;
	background: #EDEBE9;
}

.bx-block-one-food-inin{
	width: 160px;
	height: 160px;
	border: #FBFBFA 2px solid;
	border-radius: 24px;
}

/*食物的种类影响食物的图片*/
.bx-type-coke i.bx-food-type-img,
.bx-type-fruit i.bx-food-type-img,
.bx-type-meat i.bx-food-type-img,
.bx-type-grice i.bx-food-type-img,
.bx-type-greens i.bx-food-type-img{
	height: 100%;
	width: 100%;
	display: block;
}

.bx-type-coke i.bx-food-type-img{
	background: url("../img/type-coke.png") no-repeat center;
}

.bx-type-fruit i.bx-food-type-img{
	background: url("../img/type-fruit.png") no-repeat center;
}

.bx-type-meat i.bx-food-type-img{
	background: url("../img/type-meat.png") no-repeat center;
}

.bx-type-grice i.bx-food-type-img{
	background: url("../img/type-greens.png") no-repeat center;
}

.bx-type-greens i.bx-food-type-img{
	background: url("../img/type-greens.png") no-repeat center;
}

/*指示该食物还剩几天的右上角标*/
.bx-block-one-food-day{
	width: 100px;
	height: 100px;
	margin-top: -210px;
	margin-left: 110px;
	padding: 0;
}

.bx-block-one-food-day span{
	margin: 0;
	float: right;
	font-family: Impact;
	color: #fff;
	font-size: 28px;
	display: inline-block;
	padding-top: 5px;
	width: 60px;
	text-align: center;
	line-height: 28px;
}

.bx-fresh-good .bx-block-one-food-day{
	background: url("../img/block-fresh-good-tag.png") no-repeat top right;
}

.bx-fresh-normal .bx-block-one-food-day{
	background: url("../img/block-fresh-normal-tag.png") no-repeat top right;
}

.bx-fresh-bad .bx-block-one-food-day{
	background: url("../img/block-fresh-bad-tag.png") no-repeat top right;
}

/*指示该食物分类和状态的横条*/
.bx-block-one-food-banner{
	width: 165px;
	height: 50px;
	padding: 30px 0 0 25px;
	margin: 10px 0 0 10px;
	display: block;
	background: url("../img/block-one-food-banner.png") no-repeat center;
}

.bx-type-coke i.bx-food-type-text,
.bx-type-fruit i.bx-food-type-text,
.bx-type-meat i.bx-food-type-text,
.bx-type-grice i.bx-food-type-text,
.bx-type-greens i.bx-food-type-text{
	height: 20px;
	width: 60px;
	display: block;
	float: left;
	font-style: normal;
	line-height: 18px;
	font-size: 18px;
	color: #62C42C;
	font-family: "华文细黑";
}

.bx-type-coke i.bx-food-type-text::before{
	content: "饮料";
}

.bx-type-fruit i.bx-food-type-text::before{
	content: "水果";
}

.bx-type-meat i.bx-food-type-text::before{
	content: "肉类";
}

.bx-type-greens i.bx-food-type-text::before{
	content: "蔬菜";
}

.bx-type-grice i.bx-food-type-text::before{
	content: "主食";
}

/*在块状横条上显示的指示表情*/
.bx-food-status-emoji{
	display: inline-block;
	height: 20px;
	width: 80px;
	background: url("../img/block-status-emoji.png") no-repeat top left;
}

.bx-fresh-good i.bx-food-status-emoji{
	background-position: 0 -40px;
}

.bx-fresh-normal i.bx-food-status-emoji{
	background-position: 0 -20px;
}

.bx-fresh-bad i.bx-food-status-emoji{
	background-position: 0 0;
}


/*********************************************/
/***********  列表显示主内容区  *****************/
/*********************************************/
.bx-index-list-main{
	width: 100%;
	margin-top: 180px;
	display: block;
	overflow: hidden;
}

.bx-index-list-main ul{
	width: 100%;
	margin: 0;
	padding: 0;
}

.bx-index-list-main ul li{
	list-style: none;
	width: 100%;
	height: 120px;
	background: url("../img/list-food-line.png") no-repeat center;
}

.bx-list-one-food{
}

.bx-list-food-info{
	width: 220px;
	height: 75px;
	display: block;
	float: left;
	background: url("../img/list-food-info-bg.png") no-repeat top left;
}

/*奇数行*/
.bx-index-list-main ul li:nth-child(odd) .bx-list-food-info{
	margin: 7px 0 0 250px;
}
/*偶数行*/
.bx-index-list-main ul li:nth-child(even) .bx-list-food-info{
	margin: 7px 0 0 10px;
	background-position: 0 -75px;
}

.bx-list-food-type{
	height: 65px;
	width: 65px;
	background: #333;
	display: block;
	float: left;
}

.bx-index-list-main ul li:nth-child(odd) .bx-list-food-type{
	margin: 0 0 0 -310px;
}

.bx-index-list-main ul li:nth-child(even) .bx-list-food-type{
	margin: 0 0 0 30px;
	background-position: 0 -65px;
}


.bx-list-food-day{
	float: left;
	display: inline-block;
	margin: 10px 0 0 25px;
	font-family: Impact;
	color: #fff;
	font-size: 45px;
	padding-top: 5px;
	text-align: center;
	line-height: 45px;
}

.bx-list-food-day-det{
	float: left;
	display: inline-block;
	margin: 10px 0 0 10px;
}

.bx-list-food-day-str{
	font-family: "华文细黑";
	margin: 0 0 3px 0;
	font-size: 18px;
	display: block;
}

.bx-list-food-day-pub{
	margin: 0;
	display: block;
	font-size: 14px;
	color: #B9B9B9;
}

.bx-fresh-bad .bx-list-food-day,
.bx-fresh-bad .bx-list-food-day-str{
	color: #c00;
}

.bx-fresh-normal .bx-list-food-day,
.bx-fresh-normal .bx-list-food-day-str{
	color: #FFD54F;
}

.bx-fresh-good .bx-list-food-day,
.bx-fresh-good .bx-list-food-day-str{
	color: #7EC10F;
}
