@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   13-4-1
 * Time:   下午3:01
 */

body{
	padding: 60px 0 40px 0;
}

.bx-book-img{
	margin-right: 15px;
}

.bx-apply-book{
	padding-top: 8px;
}

.bx-division{
	padding: 10px 0;
}

ul.bx-tag{
	display: inline-block;
}

ul.bx-tag li{
	margin: 3px;
	padding:  2px 4px;
	background-color: #EBEBE4;
	border-radius: 3px 3px 3px 3px;
	color: #666;
}