@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   13-4-1
 * Time:   上午10:00
 */

body{
	padding: 60px 0 40px 0;
}

a:hover{
	text-decoration: none;
}

.hero-unit p{
	margin: 10px 0 0 0;
}

.bx-book-img{
	margin: 0 8px 0 0;
}

.bx-book-img img{
	height: 160px;
}

.bx-author{
	padding: 2px 0;
}

.bx-summry{
	padding: 2px 0;
	font-size: 12px;;
}

.bx-title{
	padding-top: 5px;
}

#spider_book_img{
	height: 100px;
}