@charset "utf-8";

/* CSS Document中文 */

* {
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	margin: 0px;
}

BODY {
	background-image:url(../img/green_garden.jpg);
	background-repeat:no-repeat;
	width:760px;
	height:700px;
}

#main{
	background:url(../img/llk.png) no-repeat center;
	width:100%;
	height:281px;
	margin:0px;
	margin-top:50px;
}