@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   12-10-29
 * Time:   下午12:09
 */


/******************************************************************************/
/******************                 公共样式               *********************/
/******************************************************************************/

.t-shadow{
	-moz-text-shadow: 2px 2px 2px #bbb;
	-webkit-text-shadow: 2px 2px 2px #bbb;
	text-shadow: 2px 2px 2px #bbb;
}

.b-shadow{
	-moz-box-shadow: 1px 1px 5px #aaa;
	-webkit-box-shadow: 1px 1px 5px #aaa;
	box-shadow: 1px 1px 5px #aaa;
	/* 一定要设置background, 不然 ie 会显示在字体上 */
	background: #fff;
}

html, body{
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
}


/******************************************************************************/
/******************                 底层样式               *********************/
/******************************************************************************/

/*用于底层抽屉的页面*/
#bot-layer{
	width: 100%;
	height: 100%;
	text-align: left;
	background: #EEE;
	position: fixed;
	z-index: 10;
	top: 0;
	margin: 0 auto;
	/*display: none;*/
}

/*抽屉左边的导航栏*/
#bot-layer-navi{
	width: 96px;
	height: auto;
	float: left;
	position: relative;
	z-index: 20;
	background: url("../images/bot_layer_navi_bg.png") repeat;
}

#bot-layer-navi ul li{
	width: 100%;
	height: 92px;
	padding-top: 23px;
	background: url("../images/bot_layer_navi_divider.9.png") bottom repeat-x;
}

#bot-layer-navi ul li a{
	width: 52px;
	height: 72px;
	display: block;
	margin: 0 auto;
	background: url("../images/bot_layer_all.png") no-repeat;
}

#bot-layer-navi ul li.navi-news a{
	background-position: 0 -200px;
}

#bot-layer-navi ul li.navi-news a.current{
	background-position: 0 -272px;
}

#bot-layer-navi ul li.navi-ties a{
	background-position: -52px -200px;
}

#bot-layer-navi ul li.navi-ties a.current{
	background-position: -52px -272px;
}

#bot-layer-navi ul li.navi-pics a{
	background-position: -104px -200px;
}

#bot-layer-navi ul li.navi-pics a.current{
	background-position: -104px -272px;
}

#bot-layer-navi ul li.navi-topics a{
	background-position: -156px -200px;
}

#bot-layer-navi ul li.navi-topics a.current{
	background-position: -156px -272px;
}

#bot-layer-navi ul li.navi-vote a{
	background-position: -208px -200px;
}

#bot-layer-navi ul li.navi-vote a.current{
	background-position: -208px -272px;
}

/*导航栏右边的阴影效果*/
#bot-layer-navi-shadow{
	height: auto;
	width: 30px;
	float: left;
	margin-left: -30px;
	position: relative;
	z-index: 21;
	background: url("../images/bot_layer_navi_shadow.9.png") right repeat-y;
}

/*抽屉右边的个人中心页面*/
#bot-layer-info{
	width: auto;
	height: auto;
	float: left;
	margin-left: -40px;
	position: relative;
	z-index: 30;
	background: url("../images/bot_layer_info_bg.png") top left repeat;
}

#bot-layer-info-shadow{
	height: auto;
	width: 40px;
	float: left;
	position: relative;
	z-index: 31;
	background: url("../images/bot_layer_info_shadow.9.png") repeat-y;
}

#bot-layer-user-info{
	position: relative;
	margin: 25px 0 0 25px;
}

#user-photo{
	float: left;
	position: relative;
	width: 80px;
	height: 80px;
	background: url("../images/bot_layer_all.png") 0 0 no-repeat;
}

#user-detail{
	width: 210px;
	float: left;
	margin-left: 20px;
	position: relative;
}

#user-detail h4{
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	margin-bottom: 10px;
}

#user-detail h6{
	font-size: 18px;
	line-height: 25px;
	color: #666;
	word-break: break-all;
}

#bot-layer-user-data{
	width: 330px;
	height: 108px;
	margin: 25px 0 0 25px;
	clear: both;
	position: relative;
	background: url("../images/bot_layer_all.png") 0 -90px no-repeat;
}

#bot-layer-user-data li{
	float: left;
	width: 110px;
	height: 108px;
	background: url("../images/bot_layer_info_user_detail_divider.png") right no-repeat;
}

#bot-layer-user-data li a{
	width: 66px;
	height: 60px;
	display: block;
	margin: 25px auto;
}

#bot-layer-user-data li.user-ties a{
	background: url("../images/bot_layer_all.png") -90px 0px no-repeat;
}

#bot-layer-user-data li.user-favo a{
	background: url("../images/bot_layer_all.png") -160px 0px no-repeat;
}

#bot-layer-user-data li.user-push a{
	background: url("../images/bot_layer_all.png") -230px 0px no-repeat;
}

#bot-layer-menu{
	position: relative;
	margin: 25px 0 0 25px;
}

#bot-layer-menu li{
	height: 90px;
}

#bot-layer-menu li a{
	height: 50px;
	margin-left: 20px;
	padding: 18px 0 0 0;
	display: block;
	font-size: 24px;
	line-height: 50px;
	color: #555;
}

#bot-layer-menu li a span{
	height: 40px;
	width: 40px;
	display: block;
	float: left;
	margin: 10px 10px 0 0;
}

#bot-layer-menu li.menu-weather a span{
	background: url("../images/bot_layer_all.png") -310px 0 no-repeat;
}

#bot-layer-menu li.menu-offline a span{
	background: url("../images/bot_layer_all.png") -350px 0 no-repeat;
}

#bot-layer-menu li.menu-search a span{
	background: url("../images/bot_layer_all.png") -390px 0 no-repeat;
}

#bot-layer-menu li.menu-setting a span{
	background: url("../images/bot_layer_all.png") -430px 0 no-repeat;
}


/******************************************************************************/
/******************                主图层样式               *********************/
/******************************************************************************/


#main{
	width: 480px; /*获取的设备宽度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	overflow: hidden;
}

#main-layer{
	position: absolute;
	width: 480px; /*获取的设备宽度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	z-index: 100;
	top: 0;
	margin: 0 auto;
	overflow: hidden;
	display: block;
}

#main-layer-action-bar{
	width: 100%;
	z-index: 110;
	height: 72px;
	background: url("../images/main_layer_action_bar_bg.png") repeat-x;
	position: fixed;
	top: 0;
	margin: 0 auto;
}

#main-layer-action-bar-back{
	height: 72px;
	width: 100px;
	float: left;
	background: url("../images/main_layer_action_bar_divider.png") right no-repeat;
}

#main-layer-action-bar-back a{
	display: block;
	width: 92px;
	height: 72px;
	float: left;
	background: url("../images/bot_layer_all.png") no-repeat;
}

#main-layer-action-bar-back a.news-back{
	background-position: 0 -350px;
}

#main-layer-action-bar-back a.news-back-current{
	background-position: 0 -422px;
}

#main-layer-action-bar-back a.ties-back{
	background-position: -90px -350px;
}

#main-layer-action-bar-back a.ties-back-current{
	background-position: -90px -422px;
}

#main-layer-action-bar-back a.pics-back{
	background-position: -180px -350px;
}

#main-layer-action-bar-back a.pics-back-current{
	background-position: -180px -422px;
}

#main-layer-action-bar-back a.topics-back{
	background-position: -270px -350px;
}

#main-layer-action-bar-back a.topics-back-current{
	background-position: -270px -422px;
}

#main-layer-action-bar-back a.vote-back{
	background-position: -360px -350px;
}

#main-layer-action-bar-back a.vote-back-current{
	background-position: -360px -422px;
}

#main-layer-action-bar-logo{
	height: 32px;
	width: 64px;
	float: left;
	margin: 22px 0 0 15px;
	background: url("../images/bot_layer_all.png") -420px -40px no-repeat;
}

#main-layer-action-bar-column{
	height: 72px;
	width: auto;
	float: left;
	margin-left: -75px;
	background: url("../images/main_layer_action_bar_column_spinner_normal.9.png") right bottom no-repeat;
}

#main-layer-action-bar-column a{
	height: 72px;
	padding-left: 80px;
	display: block;
	text-align: left;
	font-size: 30px;
	line-height: 72px;
	color: #FFF;
}

#main-layer-action-bar-column a.current{
	background-color: rgba(19, 19, 19, 0.15);
	color: #CCC;
}

#main-layer-action-bar-user{
	height: 72px;
	width: 72px;
	float: right;
}

#main-layer-action-bar-user a{
	display: block;
	width: 72px;
	height: 72px;
	background: url("../images/bot_layer_all.png") -470px -350px no-repeat;
}

#main-layer-action-bar-user a.current{
	background: url("../images/bot_layer_all.png") -470px -422px no-repeat;
}

#main-layer-action-bar-shadow{
	clear: both;
	position: relative;
	z-index: 110;
	width: 100%;
	height: 8px;
	background: url("../images/main_layer_action_bar_shadow.9.png") top repeat-x;
}

#main-layer-action-bar-column-list{
	clear: both;
	position: relative;
	margin: -8px 0 0 103px;
	z-index: 200;
	width: 260px;
	height: auto;
	background: #EFEFEF;
	display: none;
}

#main-layer-action-bar-column-list ul li,
#main-layer-news-column-do,
#main-layer-news-column-ok{
	width: 260px;
	height: 72px;
	display: block;
	background: url("../images/main_layer_action_bar_column_list_li_bg.png") bottom center no-repeat;
}

#main-layer-action-bar-column-list ul li:hover{
	background: #ddd url("../images/main_layer_action_bar_column_list_li_bg.png") bottom center no-repeat;
}

#main-layer-action-bar-column-list ul li a{
	height: 72px;
	float: left;
	display: block;
}

#main-layer-action-bar-column-list ul li a.column_dis{
	display: none;
}

#main-layer-action-bar-column-list ul li a.column_del{
	width: 70px;
	background: url("../images/bot_layer_all.png") -340px -278px no-repeat;
}

#main-layer-action-bar-column-list ul li a.column_del_check{
	width: 70px;
	background: url("../images/bot_layer_all.png") -410px -278px no-repeat;
}

#main-layer-action-bar-column-list ul li a.column_name,
#main-layer-action-bar-column-list ul li a.column_name_all{
	width: 120px;
	font-size: 26px;
	color: #666;
	line-height: 72px;
	text-align: left;
	-moz-text-shadow: 1px 1px 1px #bbb;
	-webkit-text-shadow: 1px 1px 1px #bbb;
	text-shadow: 1px 1px 1px #bbb;
}

#main-layer-action-bar-column-list ul li a.column_name_all{
	margin-left: 70px;
}

#main-layer-action-bar-column-list ul li a.column_drag{
	width: 70px;
	background: url("../images/bot_layer_all.png") -270px -278px no-repeat;
}

#main-layer-news-column-do{
	background: #e5e5e5 url("../images/main_layer_action_bar_column_list_edit_divider.png") center no-repeat;
}

#main-layer-news-column-do a{
	height: 72px;
	display: block;
	float: left;
}

#main-layer-news-column-do a.column_add{
	width: 130px;
	background: url("../images/bot_layer_all.png") -366px -200px no-repeat;
}

#main-layer-news-column-do a:hover.column_add{
	background: #D6DAE1 url("../images/bot_layer_all.png") -366px -200px no-repeat;
}

#main-layer-news-column-do a.column_edit{
	width: 130px;
	background: url("../images/bot_layer_all.png") -270px -200px no-repeat;
}

#main-layer-news-column-do a:hover.column_edit{
	background: #D6DAE1 url("../images/bot_layer_all.png") -270px -200px no-repeat;
}

#main-layer-news-column-ok{
	display: none;
}

#main-layer-news-column-ok a.column_edit_ok{
	width: 260px;
	height: 72px;
	display: block;
	background: url("../images/bot_layer_all.png") -340px -90px no-repeat;
}

#main-layer-news-column-ok a:hover.column_edit_ok{
	background: #ddd url("../images/bot_layer_all.png") -340px -90px no-repeat;
}

#main-layer-content{
	width: 100%;
	margin-top: 72px;
	clear: both;
	background: #ecedee;
}

#head-img{
	width: 100%;
	height: 290px;
	margin: 0 0 10px 0;
}

#head-img ul{
	width: 1440px; /*包含三张图,每张宽度约定俗成为480,如果不是480宽度的机型,这里需要改动*/
	height: 290px;
	overflow: hidden;
	position: relative;
	z-index: 99;
}

#head-img ul li{
	width: 480px; /*约定每张图的宽度与屏幕宽度相同,为480*/
	height: 290px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

#head-img ul li img{
	width: 100%;
	z-index: 100;
	margin: 0;
	position: relative;
}

#head-img ul li h6{
	width: 100%;
	height: 100px;
	padding: 0 0 0 10px;
	display: block;
	margin-top: -100px;
	background: url("../images/news-head-img-bg.9.png") repeat-x bottom;
	z-index: 101;
	position: relative;
	line-height: 100px;
	font-size: 25px;
	font-weight: bold;
	color: #FFF;
}

#head-img-flag{
	width: 160px;
	height: 5px;
	background: #F00;
	margin-top: -5px;
	position: relative;
	display: block;
	z-index: 102;
}

#head-img-flag img-1{
	margin-left: 0;
}

#head-img-flag img-2{
	margin-left: 160px;
}

#head-img-flag img-3{
	margin-left: 320px;
}

#news-list{
	width: 100%;
}

#news-list ul li{
	width: 450px;
	height: 95px;
	padding: 15px;
	background: url("../images/news_base_list_divider.png") bottom center no-repeat;
	cursor:pointer;
}

#news-list ul li img{
	height: 78px;
	width: 110px;
	float: left;
	margin-right: 10px;
}

#news-list ul li h1{
	font: 25px bolder;
	color: #323232;
	line-height: 30px;
}

#news-list ul li h6{
	margin-top: 8px;
	font: 20px bold;
	color: #838383;
	line-height: 25px;
}

#news-list ul li span{
	float: right;
	font: 15px bold;
	line-height: 15px;
	margin-top: -10px;
	color: #8D8D8D;
}


/******************************************************************************/
/******************               新闻详情页样式             *********************/
/******************************************************************************/


#main-layer-detail{
	width: 480px;   /*获取的设备宽度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	height: 600px;  /*获取的设备高度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	margin: 0 auto;
	top:0;
	padding-top: 72px;
	background: #F6F6F6;
	position: fixed;
	overflow: auto;
	z-index: 200;
	display: none;  /*默认新闻详情页和跟帖页是不显示的，由JS调用显示*/
}

#detail-header-bar{
	height: 72px;
	width: 100%;
	position: fixed;
	margin: 0 auto;
	top:0;
	background: rgba(246, 246, 246, 0.80) url("../images/news_base_list_divider.png") bottom no-repeat;
	z-index: 290;
}

#detail-header-bar-back{
	width: 95px;
	height: 70px;
	float: left;
	position: absolute;
	z-index: 291;
}

#detail-header-bar-back a{
	width: 95px;
	height: 70px;
	display: block;
	background: url("../images/bot_layer_all.png") 0 -500px no-repeat;
}

#detail-header-bar-back a:hover{
	background: url("../images/bot_layer_all.png") -95px -500px no-repeat;
}


#detail-header-bar-menu{
	width: 74px;
	height: 70px;
	float: right;
	position: relative;
	z-index: 291;
}

#detail-header-bar-menu a{
	width: 74px;
	height: 70px;
	display: block;
	background: url("../images/bot_layer_all.png") -190px -500px no-repeat;
}

#detail-header-bar-menu a:hover{
	background: url("../images/bot_layer_all.png") -264px -500px no-repeat;
}

#detail-header-bar-ties{
	width: 124px;
	height: 72px;
	float: right;
	position: relative;
	z-index: 291;
}

#detail-header-bar-ties a{
	width: 124px;
	height: 72px;
	display: block;
	background: url("../images/bot_layer_all.png") -340px -500px no-repeat;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	line-height: 70px;
}

#detail-article{
	margin: 0 25px 0 25px;
	position: relative;
	z-index: 280;
}

#detail-article h1{
	padding: 25px 0 15px 0;
	font-size: 35px;
	line-height: 40px;
	display: block;
	position: relative;
}

#detail-article h6{
	padding-bottom: 20px;
	font-size: 18px;
	line-height: 20px;
	color: #999;
	display: block;
	position: relative;
}

#detail-article-content{
	margin-bottom: 90px;
}

#detail-article-content p{
	margin: 10px 0;
	font-size: 25px;
	line-height: 38px;
	color: #585858;
}

#detail-article-content img{
	width: 100%;
	margin-top: 10px;
	border: 1px #ccc solid;
}

#detail-article-content span{
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 15px;
	font-size: 20px;
	line-height: 20px;
	color: #7a7a7a;
}





/******************************************************************************/
/******************                 跟帖页样式              *********************/
/******************************************************************************/


#main-layer-ties{
	width: 480px;   /*获取的设备宽度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	height: 600px;  /*获取的设备高度会覆盖这个值,子级的百分比宽度其实跟这个值没有关系*/
	margin: 0 auto;
	padding-top: 72px;
	background: #F6F6F6;
	position: fixed;
	top:0;
	overflow: auto;
	z-index: 300;
	display: none;  /*默认新闻详情页和跟帖页是不显示的，由JS调用显示*/
}

#ties-header-bar{
	height: 72px;
	width: 100%;
	position: fixed;
	margin: 0 auto;
	top:0;
	background: rgba(246, 246, 246, 0.80) url("../images/news_base_list_divider.png") bottom no-repeat;
	z-index: 390;
}

#ties-header-bar-back{
	width: 95px;
	height: 70px;
	float: left;
	position: absolute;
	z-index: 391;
}

#ties-header-bar-back a{
	width: 95px;
	height: 70px;
	display: block;
	background: url("../images/bot_layer_all.png") 0 -500px no-repeat;
}

#ties-header-bar-back a:hover{
	background: url("../images/bot_layer_all.png") -95px -500px no-repeat;
}