@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   12-10-29
 * Time:   下午12:09
 */

.t-shadow{
	-moz-text-shadow: 2px 2px 2px #bbb;
	-webkit-text-shadow: 2px 2px 2px #bbb;
	text-shadow: 2px 2px 2px #bbb;
}


html,body{
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
}


/*用于底层抽屉的页面*/
#bot-layer{
	width: 100%;
	height: 100%;
	text-align: left;
	background: #EEE;
	position: fixed;
	z-index: 10;
	top: 0;
	margin: 0 auto;
	/*display: none;*/
}

/*抽屉左边的导航栏*/
#bot-layer-navi{
	width: 96px;
	height: auto;
	float: left;
	position: relative;
	z-index: 20;
	background: url("../images/bot_layer_navi_bg.png") repeat;
}

#bot-layer-navi ul li{
	width: 100%;
	height: 92px;
	padding-top: 23px;
	background: url("../images/bot_layer_navi_divider.9.png") bottom repeat-x;
}

#bot-layer-navi ul li a{
	width: 50px;
	height: 70px;
	display: block;
	margin: 0 auto;
	background: url("../images/bot_layer_navi_one.png") top left no-repeat;
}

#bot-layer-navi ul li.navi-news a{
	background-position: 0 0;
}

#bot-layer-navi ul li.navi-news a.current{
	background-position: 0 -70px;
}

#bot-layer-navi ul li.navi-ties a{
	background-position: -50px 0;
}

#bot-layer-navi ul li.navi-ties a.current{
	background-position: -50px -70px;
}

#bot-layer-navi ul li.navi-pics a{
	background-position: -100px 0;
}

#bot-layer-navi ul li.navi-pics a.current{
	background-position: -100px -70px;
}

#bot-layer-navi ul li.navi-topics a{
	background-position: -150px 0;
}

#bot-layer-navi ul li.navi-topics a.current{
	background-position: -150px -70px;
}

/*导航栏右边的阴影效果*/
#bot-layer-navi-shadow{
	height: auto;
	width: 40px;
	float: left;
	margin-left: -40px;
	position: relative;
	z-index: 21;
	background: url("../images/bot_layer_navi_shadow.9.png") repeat-y;
}



/*抽屉右边的个人中心页面*/
#bot-layer-info{
	width: auto;
	height: auto;
	float: left;
	margin-left: -40px;
	position: relative;
	z-index: 30;
	background: url("../images/bot_layer_info_bg.png") top left repeat;
}

#bot-layer-info-shadow{
	height: auto;
	width: 40px;
	float: left;
	position: relative;
	z-index: 31;
	background: url("../images/bot_layer_info_shadow.9.png") repeat-y;
}

#bot-layer-user-info{
	position: relative;
	margin: 25px 0 0 25px;
}

#user-photo{
	float: left;
	position: relative;
}

#user-detail{
	width: 210px;
	float: left;
	margin-left: 20px;
	position: relative;
}

#user-detail h4{
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	margin-bottom: 10px;
}

#user-detail h6{
	font-size: 18px;
	line-height: 25px;
	color: #666;
	word-break: break-all;
}

#bot-layer-user-data{
	width: 330px;
	height: 108px;
	margin: 25px 0 0 25px;
	clear: both;
	position: relative;
	background: url("../images/bot_layer_info_user_detail_bg.png") no-repeat;
}

#bot-layer-user-data li{
	float: left;
	width: 110px;
	height: 108px;
	background: url("../images/bot_layer_info_user_detail_divider.png") right no-repeat;
}

#bot-layer-user-data li a{
	width: 66px;
	height: 60px;
	display: block;
	margin: 25px auto;
}

#bot-layer-user-data li.user-ties a{
	background: url("../images/bot_layer_info_user_detail_ties.png") no-repeat;
}

#bot-layer-user-data li.user-favo a{
	background: url("../images/bot_layer_info_user_detail_favor.png") no-repeat;
}

#bot-layer-user-data li.user-push a{
	background: url("../images/bot_layer_info_user_detail_push.png") no-repeat;
}

#bot-layer-menu{
	position: relative;
	margin: 25px 0 0 25px;
}

#bot-layer-menu li{
	height: 90px;
}

#bot-layer-menu li a{
	height: 50px;
	margin-left: 20px;
	padding: 18px 0 0 50px;
	display: block;
	font-size: 24px;
	color: #555;
}

#bot-layer-menu li.menu-weather a{
	background: url("../images/bot_layer_menu_weather.png") left no-repeat;
}

#bot-layer-menu li.menu-offline a{
	background: url("../images/bot_layer_menu_offline.png") left no-repeat;
}

#bot-layer-menu li.menu-search a{
	background: url("../images/bot_layer_menu_search.png") left no-repeat;
}

#bot-layer-menu li.menu-setting a{
	background: url("../images/bot_layer_menu_setting.png") left no-repeat;
}


/****************下面开始是主界面的样式*********************/

#main-layer{
	position: absolute;
	z-index: 100;
	top: 0;
	margin: 0 auto;
	overflow: hidden;
}

#main-layer-action-bar{
	width: 100%;
	height: 72px;
	background: url("../images/main_layer_action_bar_bg.png") repeat-x;
	position: absolute;
	top: 0;
	margin: 0 auto;
}

#main-layer-action-bar-back{
	height: 72px;
	width: 100px;
	float: left;
	background: url("../images/main_layer_action_bar_divider.png") right no-repeat;
}

#main-layer-action-bar-back a{
	display: block;
	width: 95px;
	height: 72px;
	float: left;
	background: url("../images/main_layer_action_bar_back_normal.png") no-repeat left;
}

#main-layer-action-bar-back a:hover{
	background: url("../images/main_layer_action_bar_back_hover.png") no-repeat left;
}

#main-layer-action-bar-logo{
	height: 72px;
	width: 64px;
	float: left;
	margin-left: 15px;
	background: url("../images/logo.png") center no-repeat;
}

#main-layer-action-bar-column{
	height: 72px;
	width: auto;
	float: left;
	margin-left: -75px;
	background: url("../images/main_layer_action_bar_column_spinner_normal.9.png") right bottom no-repeat;
}

#main-layer-action-bar-column a{
	height: 72px;
	padding-left: 80px;
	display: block;
	text-align: left;
	font-size: 30px;
	line-height: 72px;
	color: #FFF;
}

#main-layer-action-bar-column a:hover{
	background-color: rgba(19, 19, 19, 0.15);
	color: #CCC;
}

#main-layer-action-bar-user{
	height: 72px;
	width: 86px;
	float: right;
}

#main-layer-action-bar-user a{
	display: block;
	width: 86px;
	height: 72px;
	background: url("../images/main_layer_action_bar_user_normal.png") no-repeat left;
}

#main-layer-action-bar-user a:hover{
	background: url("../images/main_layer_action_bar_user_hover.png") no-repeat left;
}




#main-layer-content{
	width: 100%;
	margin-top: 72px;
	clear: both;
	background: #EEE;
}

#main-layer-content p{
	line-height: 50px;
	font-size: 20px;
}