@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   13-4-20
 * Time:   下午3:41
 */

/*LOGO的特殊字体*/
@font-face{
	font-family: xiangSu;
	src: url('ZPIXEX2_EX.TTF');
}

@font-face{
	font-family: xiHei;
	src: url('STXIHEI.TTF');
}

@font-face{
	font-family: shuZi;
	src: url('IMPACT.TTF');
}

/*公共样式区域*/
.bx-page{
	background: url("../img/main-bg.png") repeat top center;
}

.bx-header{
	margin: 0 auto;
	height: 100px;
	position: absolute;
	width: 100%;
	border: none;
	background: url("../img/page-header-bg.png") repeat-x left bottom;
}

.bx-index-block-header{
	width: 100%;
	height: 60px;
	background: url("../img/page-header-bg.png") repeat-x left top;
}

.bx-food-add-btn{
	width: 80px;
	height: 60px;
	background: url("../img/food-add-btn.png") no-repeat center;
	display: inline-block;
	margin: 25px 0 0 8px !important;
}

.bx-logo{
	width: 265px;
	height: 70px;
	background: url("../img/page-header-logo.png") no-repeat center;
	display: block;
	margin: 10px auto 0 auto !important;
}

/*切换块状显示和列表显示的按钮*/
.bx-block-to-list-btn,
.bx-list-to-block-btn,
.bx-back-btn,
.bx-set-btn{
	width: 70px;
	height: 50px;
	float: right;
	display: inline-block;
	border: none;
	background: url("../img/toggle-list-block-btn.png") no-repeat top;
	margin: 35px 5px 0 0 !important;
}

.bx-block-to-list-btn{
	background-position: 0 0;
}

.bx-list-to-block-btn{
	background-position: 0 -50px;
}

.bx-back-btn{
	margin-right: 0 !important;
	margin-left: 8px !important;
	background: url("../img/back-btn.png") no-repeat top;
}

.bx-set-btn{
	background: url("../img/app-set-btn.png") no-repeat top;
}

/*********************************************/
/***********  块状显示主内容区  *****************/
/*********************************************/
.bx-index-block-main,
.bx-index-list-main,
.bx-detail-main,
.bx-setting-main,
.bx-add-first-main,
.bx-add-second-main{
	width: 100%;
	margin-top: 120px;
	display: block;
	overflow: hidden;
}

.bx-index-block-main cite{
	height: 210px !important;
	width: 210px !important;
	background: transparent;
	display: block;
	position: relative;
	margin: -190px 0 0 0;
	border-radius: 24px;
}

.bx-index-block-main ul:last-child{
	margin: 0 auto;
	text-align: center;
	width: 480px;
	padding: 0;
}

.bx-index-block-main ul:last-child li{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	display: inline-block;
	background: #a8a099;
	margin: 80px 5px 20px 5px !important;
}

.bx-index-block-main ul:last-child li.current{
	background: #4ED6DD;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.bx-index-block-main ul:first-child{
	width: 300%;
	margin: 60px 0 0 0;
	padding: 0;
}

.bx-index-block-main ul:first-child li{
	list-style: none;
	width: 33.3333333333%;
	float: left;
}

.bx-index-block-main .ui-grid-a>div{
	display: block;
	padding: 15px;
	height: 240px;
}

/*块状显示单个食物的块*/
.bx-block-one-food{
	background: #fff;
	height: 180px;
	width: 180px;
	padding: 15px;
	border-radius: 24px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.bx-block-one-food-inout{
	width: 164px;
	height: 164px;
	padding: 8px;
	display: block;
	border-radius: 26px;
	background: #EDEBE9;
}

.bx-block-one-food-inin{
	width: 160px;
	height: 160px;
	border: #FBFBFA 2px solid;
	border-radius: 24px;
}

/*食物的种类影响食物的图片*/
.bx-type-coke i.bx-food-type-img,
.bx-type-fruit i.bx-food-type-img,
.bx-type-meat i.bx-food-type-img,
.bx-type-rice i.bx-food-type-img,
.bx-type-greens i.bx-food-type-img{
	height: 140px;
	width: 160px;
	margin: 20px 0 0 0;
	display: block;
}

.bx-type-coke i.bx-food-type-img{
	background: url("../img/type-coke.png") no-repeat center;
}

.bx-type-fruit i.bx-food-type-img{
	background: url("../img/type-fruit.png") no-repeat center;
}

.bx-type-meat i.bx-food-type-img{
	background: url("../img/type-meat.png") no-repeat center;
}

.bx-type-rice i.bx-food-type-img{
	background: url("../img/type-rice.png") no-repeat center;
}

.bx-type-greens i.bx-food-type-img{
	background: url("../img/type-greens.png") no-repeat center;
}

/*指示该食物还剩几天的右上角标*/
.bx-block-one-food-day{
	width: 100px;
	height: 100px;
	margin-top: -210px;
	margin-left: 110px;
	padding: 0;
}

.bx-block-one-food-day span{
	margin: 0;
	float: right;
	font-family: shuZi;
	color: #fff;
	font-size: 28px;
	display: inline-block;
	padding-top: 5px;
	width: 60px;
	text-align: center;
	line-height: 28px;
}

.bx-fresh-good .bx-block-one-food-day{
	background: url("../img/block-fresh-good-tag.png") no-repeat top right;
}

.bx-fresh-normal .bx-block-one-food-day{
	background: url("../img/block-fresh-normal-tag.png") no-repeat top right;
}

.bx-fresh-bad .bx-block-one-food-day{
	background: url("../img/block-fresh-bad-tag.png") no-repeat top right;
}

/*指示该食物分类和状态的横条*/
.bx-block-one-food-banner{
	width: 165px;
	height: 50px;
	padding: 30px 0 0 25px;
	margin: 10px 0 0 10px;
	display: block;
	background: url("../img/block-one-food-banner.png") no-repeat center;
}

.bx-type-coke i.bx-food-type-text,
.bx-type-fruit i.bx-food-type-text,
.bx-type-meat i.bx-food-type-text,
.bx-type-rice i.bx-food-type-text,
.bx-type-greens i.bx-food-type-text{
	height: 20px;
	width: 60px;
	display: block;
	float: left;
	font-style: normal;
	line-height: 18px;
	font-size: 18px;
	color: #62C42C;
	font-family: xiangSu;
}

.bx-type-coke i.bx-food-type-text::before{
	content: "饮料";
}

.bx-type-fruit i.bx-food-type-text::before{
	content: "水果";
}

.bx-type-meat i.bx-food-type-text::before{
	content: "肉类";
}

.bx-type-greens i.bx-food-type-text::before{
	content: "蔬菜";
}

.bx-type-rice i.bx-food-type-text::before{
	content: "主食";
}

/*在块状横条上显示的指示表情*/
.bx-food-status-emoji{
	display: inline-block;
	height: 20px;
	width: 80px;
	background: url("../img/block-status-emoji.png") no-repeat top left;
}

.bx-fresh-good i.bx-food-status-emoji{
	background-position: 0 -40px;
}

.bx-fresh-normal i.bx-food-status-emoji{
	background-position: 0 -20px;
}

.bx-fresh-bad i.bx-food-status-emoji{
	background-position: 0 0;
}

/*********************************************/
/***********  列表显示主内容区  *****************/
/*********************************************/
.bx-index-list-main{
	/*在第一部分设置*/
}

.bx-list-food-head{
	width: 100%;
	height: 60px;
	margin: 20px 0 0 0;
	background: url("../img/list-food-head.png") no-repeat top;
}

.bx-index-list-main ul{
	width: 100%;
	margin: 0;
	padding: 0;
}

.bx-index-list-main ul li{
	list-style: none;
	width: 100%;
	height: 120px;
	background: url("../img/list-food-line.png") no-repeat center;
}

.bx-list-one-food{
}

.bx-list-food-info{
	width: 220px;
	height: 75px;
	display: block;
	float: left;
	background: url("../img/list-food-info-bg.png") no-repeat top left;
}

/*奇数行*/
.bx-index-list-main ul li:nth-child(odd) .bx-list-food-info{
	margin: 7px 0 0 250px;
}

/*偶数行*/
.bx-index-list-main ul li:nth-child(even) .bx-list-food-info{
	margin: 7px 0 0 10px;
	background-position: 0 -75px;
}

.bx-list-food-type{
	height: 65px;
	width: 65px;
	background: url("../img/list-food-type.png");
	display: block;
	float: left;
}

.bx-index-list-main ul li:nth-child(odd) .bx-list-food-type{
	margin: 0 0 0 -310px;
}

.bx-index-list-main ul li:nth-child(even) .bx-list-food-type{
	margin: 0 0 0 30px;
}

.bx-type-coke .bx-list-food-type{
	background-position: 0 0;
}

.bx-type-fruit .bx-list-food-type{
	background-position: -65px 0;
}

.bx-type-greens .bx-list-food-type{
	background-position: -130px 0;
}

.bx-type-meat .bx-list-food-type{
	background-position: -195px 0;
}

.bx-type-rice .bx-list-food-type{
	background-position: -270px 0;
}

.bx-list-food-day{
	float: left;
	display: inline-block;
	margin: 10px 0 0 25px;
	font-family: shuZi;
	color: #fff;
	font-size: 45px;
	padding-top: 5px;
	text-align: center;
	line-height: 45px;
}

.bx-list-food-day-det{
	float: left;
	display: inline-block;
	margin: 10px 0 0 8px;
	padding: 6px 0 0 0;
}

.bx-list-food-day-str{
	font-family: xiangSu;
	margin: 0 0 3px 0;
	font-size: 18px;
	display: block;
}

.bx-list-food-day-pub{
	margin: 0;
	display: block;
	font-size: 14px;
	color: #B9B9B9;
}

.bx-fresh-bad .bx-list-food-day,
.bx-fresh-bad .bx-list-food-day-str{
	color: #c00;
}

.bx-fresh-normal .bx-list-food-day,
.bx-fresh-normal .bx-list-food-day-str{
	color: #FFD54F;
}

.bx-fresh-good .bx-list-food-day,
.bx-fresh-good .bx-list-food-day-str{
	color: #7EC10F;
}

/*********************************************/
/***********   详情页主内容区  *****************/
/*********************************************/
.bx-detail-main{
	/*在第一部分设置*/
}

.bx-detail-round-out{
	width: 380px;
	height: 330px;
	padding-top: 50px;
	margin: 0 auto;
	background: #E7EEF3;
	border-radius: 200px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.bx-detail-round-loop{
	width: 260px;
	height: 260px;
	margin: 0 auto;
	background: #E7EEF3;
	border: 10px solid;
	border-radius: 50%;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.bx-fresh-good .bx-detail-round-loop{
	border-color: #7fc20f;
}

.bx-fresh-normal .bx-detail-round-loop{
	border-color: #ffd64e;
}

.bx-fresh-bad .bx-detail-round-loop{
	border-color: #cc0000;
}

.bx-detail-round-loop p{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #7C7A71;
}

.bx-detail-time-sheng,
.bx-detail-time-tian{
	font-family: xiangSu;
	font-size: 45px;
	font-weight: 300;
	line-height: 45px;
}

.bx-detail-time-ji{
	font-family: shuZi;
	font-size: 120px;
	line-height: 120px;
	margin: 10px auto !important;
}

.bx-detail-time-sheng{
	margin: 15px 0 0 0 !important;
}

.bx-detail-info{
	margin: 25px auto 0 auto;
	width: 280px;
	font-size: 25px;
	font-family: xiangSu;
	color: #959594;
}

.bx-detail-info tr td{
	line-height: 50px;
}

.bx-detail-info tr td:first-child{
	text-align: left;
	width: 120px;
}

.bx-detail-info tr td:last-child{
	text-align: right;
	width: 160px;
}

.bx-detail-divider{
	height: 0;
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.1);
	margin: 20px auto 30px auto;
}

.bx-detail-eat-finish{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.bx-detail-eat-finish-tog{
	width: 93px;
	margin: 0 auto;
}

.bx-detail-eat-finish i{
	display: inline-block;
	font-style: normal;
	font-family: xiangSu;
	line-height: 23px;
	vertical-align: top;
	padding: 5px 0 0 0;
	font-size: 23px;
	color: #6F6E65;
}

.bx-detail-eat-finish i:first-child{
	padding-right: 20px;
}

.bx-detail-eat-finish i:last-child{
	padding-left: 20px;
}

.bx-detail-del-food{
	text-align: center;
	width: 270px;
	height: 45px;
	border-radius: 10px;
	background: #D94639;
	display: block;
	margin: 25px auto 10px auto;
	padding-top: 8px;
	color: #fff;
	font-size: 23px;
	line-height: 25px;
	font-family: xiangSu;
}

.bx-detail-del-food img{
	vertical-align: bottom;
	margin-right: 10px;
}

/*********************************************/
/***********   设置页主内容区  *****************/
/*********************************************/
.bx-setting-main{
	/*在第一部分设置*/
	font-family: xiHei;
	font-weight: bold;
	font-size: 25px;
}

.bx-setting-head{
	line-height: 25px;
	margin: 0;
	padding: 10px 0 20px 40px;
}

.bx-setting-list{
	width: 440px;
	margin: 0 auto 40px auto;
	line-height: 25px;
}

.bx-setting-list a{
	font-family: xiHei;
	font-weight: bold;
	font-size: 25px;
}

.bx-setting-list span{
	font-family: xiHei;
	font-weight: bold;
	font-size: 20px !important;
	border: none;
	color: #2C547E;
}

.bx-setting-switch{
	line-height: 0;
}

.bx-setting-switch-out{
	font-size: 15px !important;
	padding: 0 !important;
	margin-top: -35px !important;
	height: 0 !important;
}

.bx-setting-switch span{
	font-size: 15px !important;
	padding: 0 !important;
}

/*********************************************/
/***********   添加页主内容区  *****************/
/*********************************************/
.bx-add-choose-type-cont,
.bx-add-edit-info{
	width: 400px;
	height: 450px;
	margin: 0 0 0 40px;
	padding: 30px 0 0 5px;
	background: url("../img/add-main-bg.png") no-repeat center;
}

.bx-add-choose-type{
	width: 70px;
	height: 70px;
	border: 5px solid #fff;
	border-radius: 55px;
	display: block;
	padding: 15px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	background: url("../img/add-type-bottom-bg.png") #E9E9E9 no-repeat bottom;
}

.bx-add-choose-type img{
	width: 65px;
	height: 65px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.bx-add-choose-type-coke{
	margin: 0 0 0 15px;
	float: left;
}

.bx-add-choose-type-fruit{
	margin: 0 35px 0 0;
	float: right;
}

.bx-add-choose-type-greens{
	clear: both;
	margin: 0 0 0 140px;
}

.bx-add-choose-type-meat{
	margin: 0 0 0 15px;
	float: left;
}

.bx-add-choose-type-rice{
	margin: 0 35px 0 0;
	float: right;
}

.bx-add-2nd-type{
	width: 70px;
	height: 70px;
	border: 5px solid #fff;
	border-radius: 55px;
	display: block;
	padding: 15px;
	margin: 0 0 40px 135px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	background: url("../img/add-type-bottom-bg.png") #E9E9E9 no-repeat bottom;
}

.bx-add-2nd-type img{
	width: 65px;
	height: 65px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.bx-add-edit-name,
.bx-add-edit-pubdate,
.bx-add-edit-qd{
	width: 295px;
	margin-left: 40px;
}

.bx-add-choose-str{
	font-family: xiangSu;
	font-size: 17px;
	line-height: 20px;
	display: block;
	color: #a4a296;
	margin: 140px 0 0 170px;
}

.bx-add-edit-info label{
	font-family: xiangSu;
	font-size: 20px;
	line-height: 35px;
	color: #8d8d8d;
}

.bx-add-finish-btn{
	width: 120px;
	height: 40px;
	margin: 30px 0 0 130px;
	background: url("../img/add-finish-btn.png") center no-repeat;
}

/*********************************************/
/******************* 删除页 *******************/
/*********************************************/
.bx-delete-header{
	margin: 0 auto;
	height: 80px;
	position: absolute;
	width: 100%;
	border: none;
	background: url("../img/page-header-bg.png") repeat-x left bottom;
}

.bx-delete-header h3{
	color: #444;
	font-size: 35px !important;
	font-family: xiangSu !important;
	line-height: 50px !important;
	padding-top: 0 !important;
	display: block;
}

.bx-delete-main{
	width: 100%;
	margin-top: -20px;
	padding-top: 60px;
	display: block;
	overflow: hidden;
	background: url("../img/main-bg.png") repeat top center;
}

.bx-delete-confirm-btn{
	margin: 0 auto;
	width: 80%;
}

.bx-delete-food{
	width: 70px;
	height: 70px;
	border: 5px solid #fff;
	border-radius: 55px;
	display: block;
	padding: 15px;
	margin: 0 auto 40px auto;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
	background: url("../img/add-type-bottom-bg.png") #E9E9E9 no-repeat bottom;
}

.bx-delete-food img{
	width: 65px;
	height: 65px;
	display: block;
	margin: 0 auto;
	position: relative;
}

.bx-delete-main a{
	display: block;
	margin: 20px auto !important;
	font-family: xiHei;
	line-height: 30px;
}

.bx-delete-main .ui-btn-text{
	font-size: 25px !important;
}