@charset "utf-8";

/**
 * Author: Baoxu
 * Date:   12-10-29
 * Time:   下午12:09
 */

.t-shadow{
	-moz-text-shadow: 2px 2px 2px #bbb;
	-webkit-text-shadow: 2px 2px 2px #bbb;
	text-shadow: 2px 2px 2px #bbb;
}


html,body{
	font-family: "微软雅黑";
	height: 100%;
	width: 100%;
}

/*用于底层抽屉的页面*/
#bot-layer{
	width: 100%;
	height: 100%;
	text-align: left;
	background: #EEE;
	position: relative;
	z-index: 1;
}

/*抽屉左边的导航栏*/
#bot-layer-navi{
	width: 96px;
	height: auto;
	float: left;
	position: relative;
	z-index: 2;
	background: url("../images/bot_layer_navi_bg.png") repeat;
}

#bot-layer-navi ul li{
	width: 100%;
	height: 92px;
	padding-top: 23px;
	background: url("../images/bot_layer_navi_divider.9.png") bottom repeat-x;
}

#bot-layer-navi ul li a{
	width: 50px;
	height: 70px;
	display: block;
	margin: 0 auto;
	background: url("../images/bot_layer_navi_one.png") top left no-repeat;
}

#bot-layer-navi ul li.navi-news a{
	background-position: 0 0;
}

#bot-layer-navi ul li.navi-news a.current{
	background-position: 0 -70px;
}

#bot-layer-navi ul li.navi-ties a{
	background-position: -50px 0;
}

#bot-layer-navi ul li.navi-pics a{
	background-position: -100px 0;
}

#bot-layer-navi ul li.navi-topics a{
	background-position: -150px 0;
}

/*导航栏右边的阴影效果*/
#bot-layer-navi-shadow{
	height: auto;
	width: 40px;
	float: left;
	margin-left: -40px;
	position: relative;
	z-index: 20;
	background: url("../images/bot_layer_navi_shadow.9.png") repeat-y;
}



/*抽屉右边的个人中心页面*/
#bot-layer-info{
	width: auto;
	height: auto;
	float: left;
	margin-left: -40px;
	position: relative;
	z-index: 3;
	background: url("../images/bot_layer_info_bg.png") top left repeat;
}

#bot-layer-info-shadow{
	height: auto;
	width: 40px;
	float: left;
	position: relative;
	z-index: 30;
	background: url("../images/bot_layer_info_shadow.9.png") repeat-y;
}

#bot-layer-user-info{
	position: relative;
	margin: 25px 0 0 25px;
}

#user-photo{
	float: left;
	position: relative;
}

#user-detail{
	width: 210px;
	float: left;
	margin-left: 20px;
	position: relative;
}

#user-detail h4{
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	margin-bottom: 10px;
}

#user-detail h6{
	font-size: 18px;
	line-height: 25px;
	color: #666;
	word-break: break-all;
}

#bot-layer-user-data{
	width: 330px;
	height: 108px;
	margin: 25px 0 0 25px;
	clear: both;
	position: relative;
	background: url("../images/bot_layer_info_user_detail_bg.png") no-repeat;
}

#bot-layer-user-data li{
	float: left;
	width: 110px;
	height: 108px;
	background: url("../images/bot_layer_info_user_detail_divider.png") right no-repeat;
}

#bot-layer-user-data li a{
	width: 66px;
	height: 60px;
	display: block;
	margin: 25px auto;
}

#bot-layer-user-data li.user-ties a{
	background: url("../images/bot_layer_info_user_detail_ties.png") no-repeat;
}

#bot-layer-user-data li.user-favo a{
	background: url("../images/bot_layer_info_user_detail_favor.png") no-repeat;
}

#bot-layer-user-data li.user-push a{
	background: url("../images/bot_layer_info_user_detail_push.png") no-repeat;
}

#bot-layer-menu{
	position: relative;
	margin: 25px 0 0 25px;
}

#bot-layer-menu li{
	height: 100px;
}

#bot-layer-menu li a{
	height: 50px;
	margin-left: 20px;
	padding: 18px 0 0 50px;
	display: block;
	font-size: 24px;
	color: #555;
}

#bot-layer-menu li.menu-weather a{
	background: url("../images/bot_layer_menu_weather.png") left no-repeat;
}

#bot-layer-menu li.menu-offline a{
	background: url("../images/bot_layer_menu_offline.png") left no-repeat;
}

#bot-layer-menu li.menu-search a{
	background: url("../images/bot_layer_menu_search.png") left no-repeat;
}

#bot-layer-menu li.menu-setting a{
	background: url("../images/bot_layer_menu_setting.png") left no-repeat;
}